@font-face {
    font-family: gilroy-medium;
    src: url(Gilroy-Medium.e7e7c091.ttf);
}

@font-face {
    font-family: gilroy-bold;
    src: url(Gilroy-SemiBold.f3ed44cd.ttf);
}

@font-face {
    font-family: mazius;
    src: url(Mazius-Extraitalic.121a71a7.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy-medium;
}

html,
body {
    height: 100%;
    width: 100%;
}

.reveal .parent {
    display: block;
    overflow: hidden;
}

.reveal .parent .child {
    display: block;
    width: 100%;
}

.loader  .child span {
    display: inline-block;
    padding-left: 1rem;
}

 .loader .reveal .parent .child span:nth-child(2) {
    color: #14cf93;
    font-family: mazius;
    // margin-right: 10px;

}

main {
    width: 100%;
    position: relative;

    .loader {
        height: 100vh;
        width: 100%;
        background-color: #111;
        color: #fff;
        position: absolute;
        z-index: 9999;
//  display: none;
        .loader-top {
            position: absolute;
            left: 50%;
            top: 5%;
            transform: translate(-50%, 0);

            h5 {
                text-align: center;
                text-transform: uppercase;
                font-weight: 400;
                line-height: 1.2;
            }
        }

        h1 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 5vw;
            font-weight: 300;
            width: 100%;
            display: flex;
            justify-content: center;
            // background-color: aqua;
        }
    }

    .green-overlay {
        width: 100%;
        height:0;
        background-color: #14cf93;
        position: absolute;
        top:100%;
        z-index: 99;
    }

    .hero {
        width: 100%;
        height: 100vh;
        background-color: #f0f0f0;
        padding: 0 2.5rem;
        nav{
            height: 100px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 4vw;
            a{
                text-decoration: none;
                text-transform: uppercase;
                font-size: .75rem;
                letter-spacing: .5px;
                color: #000;
                font-weight: 400;
                position: relative;
                .l1{
                    left: 0;
                    bottom: 0;
                    display: inline-block;
                    height: .5px ;
                    width: 0;
                    background-color: #000;
                    position: absolute;
                    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
                    transition-delay: .15s;
                }
                .l2{
                     right: 0;
                    bottom: 0;
                    display: inline-block;
                    height: .5px ;
                    width: 100%;
                    background-color: #000;
                    position: absolute;
                    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;

                }
            }
        }
        nav a:hover .l1{
            width: 100%;
        }
        nav a:hover .l2{
            width: 0;
        }
        .row1{
            display: flex;
            justify-content: space-between;
            // padding: 0 3vw;
            align-items: center;
            // background-color: red;
            margin-bottom: -3rem;
            h1{
                font-size: 13vw;
                // background-color: pink;
                font-weight: 500;
                color: #383838;
            }
          .first,.second{
            display: flex;
            flex-direction: column;
              h4{
                align-content: center;
                // width: 15%;
                font-size: .8rem;
                text-transform: uppercase;
                color:#afaeae;
                font-weight: 450;
                margin-left: 10px;
            }
          }
        }
        .row2{
            display: flex;  
            align-items: center;
            gap: 2vw;
            // padding: 0 3vw;
            // background-color: blue;
            // line-height: 1vw;
            svg{
                min-width: 25vw;
                path,polyline{
                    stroke: #14cf93;
                }
            }
            h1{
                font-size: 13vw;
                font-weight: 500;
                color: #383838;
            }
        }
    }
}