@font-face {
    font-family: gilroy-medium;
    src: url(Gilroy-Medium.e7e7c091.ttf);
}
@font-face {
    font-family: gilroy-bold;
    src: url(Gilroy-SemiBold.f3ed44cd.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy-medium;
}

html,
body {
  height: 100%;
  width: 100%;
}
.reveal{
    overflow: hidden;
    // position: relative;
}
main{
    width: 100%;
    position: relative;
    .loader{
        height: 100vh;
        width: 100%;
        background-color: #111;
        color: #fff;
        position: absolute;
        z-index: 5;
        .loader-top{
            padding-top: 10px;
            h5{
                width: 100%;
                text-align: center;
                text-transform: uppercase;
                font-weight: 400;
                line-height: 1.2;
            }
        }
        h1{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-size: 5vw;
            font-weight: 300;
        }
    }
    .green-overlay{
        width: 100%;
        height: 100vh;
        background-color: #14cf93;
        position: relative;
        bottom: 0;
        z-index: 3;
    }
    .hero{
        width: 100%;
        height: 100vh;
        background-color: #dadada;
        position: absolute;
        bottom: 0;
        z-index: 1;
    }
}